<table
  style="
    padding: 3px;
    margin: 5px;
    border: solid #e6e6e6 0.3px;
    background-color: #f0f0f0;
  "
  align="center"
  cellpadding="0"
  cellspacing="0"
  width="600"
>
  <tr>
    <td
      align="center"
      style="border-radius: 50%; background-color: #3e9df9; padding: 3px;"
      width="50px"
      height="50px"
      rowspan="2"
    >
      <svg
        id="municipality"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewbox="0 0 398 398"
        style="width: 35px; enable-background: new 0 0 398 398;"
        xml:space="preserve"
      >
        <g fill="#fff">
          <rect x="309" y="137.868" width="53" height="204"></rect>
          <rect x="241" y="137.868" width="52" height="204"></rect>
          <path
            d="M201.5,9.133L13,89.899v31.968h377V89.899L201.5,9.133z M201.239,101.133c-17.032,0-30.84-13.808-30.84-30.84        c0-17.032,13.807-30.84,30.84-30.84s30.84,13.807,30.84,30.84C232.06,87.317,218.263,101.113,201.239,101.133z"
          ></path>
          <circle cx="201.24" cy="70.288" r="14.84"></circle>
          <rect y="357.867" width="398" height="31"></rect>
          <rect x="41" y="137.868" width="48" height="204"></rect>
          <rect x="105" y="137.868" width="52" height="204"></rect>
          <rect x="173" y="137.868" width="52" height="204"></rect>
        </g>
      </svg>
    </td>
    <td
      class="item-header"
      style="
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 10px;
        font-weight: bold;
        color: #3e9df9;
      "
      colspan="5"
    >
      Kunta
    </td>
  </tr>
  <tr>
    <td
      class="item-title"
      style="
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 20px;
        color: #2d2d1d;
      "
      colspan="5"
      th:text="${municipality}"
    ></td>
  </tr>
</table>
